<div id="<%= dom_id measurement %>">
  <p>
    <strong>Temperature:</strong>
    <%= measurement.temperature %>
  </p>

  <p>
    <strong>Humidity:</strong>
    <%= measurement.humidity %>
  </p>

</div>
